@-ms-viewport {
		width: device-width;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: white;   /* #D6DBE0 For Lighter Grey */
	background-size: 100% 110%;
}

/*input[type=text], input[type=password], input[type=email], input[type=tel] {
		width: 80%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid rgb(230, 234, 238);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgb(110, 125, 140);
		border-radius: 6px;
}*/

/* Container to keep image centered */
.imgcontainer {
		text-align: center;
		margin: 12px 0 12px 0;
		position: relative;
}

img.Rheem {
		max-width: 20%;
		max-height: auto;
}

/* Content Box */

.box {
		margin: auto;
		text-align: center;
		background: rgb(235, 239, 242);
		width: 60%;
		height: auto;
		border-radius: 6px;
		padding: 20px 0 40px 0;
		border: rgb(230, 234, 238) 4px solid;
		color: rgb(110, 125, 140);		
}

/* User/Password Enter Box */

.user {
		background: white;
		border: rgb(230, 234, 238) 1px solid;
		padding: 8px;
		width: 75%;
		color: rgb(110, 125, 140);
		margin-top: 20px;
		font-size: 1em;
		border-radius: 4px;
}

/* Login Button */

.btn {
		background: rgb(110, 125, 140);
		width: 25%;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		border-radius: 4px;
		border: rgb(110, 125, 140) 1px solid;
		
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 16px;
		font-weight: bold;
		font-size: 0.8em;
}

.btn:hover {
		opacity: 0.8;
}

/* Sign Up Button */

.btn2 {
		background: rgb(110, 125, 140);
		width: 25%;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		border-radius: 4px;
		border: gray 1px solid;
		
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 10px;
		font-weight: bold;
		font-size: 0.8em;
}

.btn2:hover {
		opacity: 0.8;
}

/* End Login CSS */

/* Start Signup CSS */

.navbar {
		width: 100%;
		height: 25%;
		padding-top: 10px;
		margin-bottom: 20px;
		border-radius: 0 0 45% 45%;
		border-bottom-color: rgb(110, 125, 140);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		text-align: center;
}

.navbar img {
		max-width: 10%;
		max-height: auto;
}

.column {
		float: left;
		width: 50%;
		
}

.row:after{
		content:"";
		display: table;
		clear: both;
}

/* Format Box For Sign Up Form */

.sbox {
		margin: auto;
		background: rgb(235, 239, 242);
		width: 80%;
		height: auto;
		border-radius: 6px;
		padding: 20px 0 40px 0;
		border: rgb(230, 234, 238) 4px solid;
		color: rgb(110, 125, 140);
		text-align:center;
}

.sbox label {
		display: inline-block;
		width: 15%;
		text-align: center;
		vertical-align: middle;
}

.sbox select {
		width: 60%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		/*border: 1px solid rgb(230, 234, 238);*/
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgb(110, 125, 140);
		border-radius: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgb(110, 125, 140);
}

.sbox select::ms-expand {
		display: none;
}

.sbox select.minimal {
		background-image:
			linear-gradient(45deg, transparent 50%, rgb(110, 125, 140) 50%),
			linear-gradient(135deg, rgb(110, 125, 140) 50%, transparent 50%),
			linear-gradient(to right, rgb(110, 125, 140), rgb(110, 125, 140));
		background-position:
			calc(100% - 20px) calc(1em + 2px),
			calc(100% - 15px) calc(1em + 2px),
			calc(100% - 2.5em) 0.5em;
		background-size:
			5px 5px,
			5px 5px,
			1px 1.5em;
		background-repeat: no-repeat;
		opacity: 0.8;
}

.sbox select.minimal:focus {
		background-image:
			linear-gradient(45deg, rgb(110, 125, 140) 50%, transparent 50%),
			linear-gradient(135deg, transparent 50%, rgb(110, 125, 140) 50%),
			linear-gradient(to right, rgb(110, 125, 140), rgb(110, 125, 140));
		background-position:
			calc(100% - 15px) 1em,
			calc(100% - 20px) 1em,
			calc(100% - 2.5em) 0.5em;
		background-size:
			5px 5px,
			5px 5px,
			1px 1.5em;
		background-repeat: no-repeat;
		outline: none;
		border-bottom: 2px solid rgb(163, 178, 194);
		border-radius: 2px;
}

.sbox input[type=text] {
		width: 60%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		/*border: 1px solid rgb(230, 234, 238);*/
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgb(110, 125, 140);
		border-radius: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		opacity: 0.8;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgb(110, 125, 140);
}	

.sbox input[type=email] {
		width: 60%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		/*border: 1px solid rgb(230, 234, 238);*/
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgb(110, 125, 140);
		border-radius: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		opacity: 0.8;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgb(110, 125, 140);
}	

.sbox input[type=tel] {
		width: 60%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		/*border: 1px solid rgb(230, 234, 238);*/
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: rgb(110, 125, 140);
		border-radius: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		opacity: 0.8;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgb(110, 125, 140);
}	

.sbox input:focus {
		outline: none;
		border-bottom: 2px solid rgb(163, 178, 194);
}

/* Edit Placeholder CSS */
/* Chrome/Opera/Safari */
.sbox input::-webkit-input-placeholder {
		font-size: 14px;
}

/* Firefox 19+ */
.sbox input::-moz-placeholder {
		font-size: 14px;
		opacity: 1;
}

/* IE 10+ */
.sbox input:-ms-input-placeholder {
		font-size: 14px;
}

/* Firefox 18- */
.sbox input:-moz-placeholder {
		opacity: 1;
		font-size: 14px;
}

.curve {
		background-color:rgb(217, 225, 230);
		width:100%;
		height:2px;
		border-bottom-left-radius:50% 50%;
		border-bottom-right-radius:50% 50%;
		background: rgb(217, 225, 230);
}

.infoHeader {
		font-size: 28px;
}

/* Submit Button */

.btnSub {
		background: rgb(110, 125, 140);
		width: 50%;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		border-radius: 4px;
		border: rgb(110, 125, 140) 1px solid;
		
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 16px;
		font-weight: bold;
		font-size: 18px;
}

.btnSub:hover {
		opacity: 0.8;
}


/* Adjust Width Appropriately for Mobile */

@media only screen and (max-width: 768px) {
		.box {
			width: 100%;
			padding: 10px 0px 0px 0px;
			border: none;
		}
		
		.sbox {
			width: 100%;
			padding: 10px 0px 0px 0x;
			border: none;
		}
		
		.sbox label {
			width: 25%;
		}
		
		.sbox input[type=text] {
			width: 80%;
		}
		
		.sbox input[type=email] {
			width: 80%;
		}
		
		.sbox input[type=tel] {
			width: 80%;
		}
		
		.sbox select {
			width: 80%;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		img.Rheem {
			max-width: 25%;
			max-height: auto;
		}
		
		img.navLogo {
			width: 50px;
			height: auto;
		}
		
		.column {
			width: 100%;
		}

		/* Edit Placeholder CSS */
		/* Chrome/Opera/Safari */
		.sbox input::-webkit-input-placeholder {
				font-size: 12px;
		}

		/* Firefox 19+ */
		.sbox input::-moz-placeholder {
				font-size: 12px;
				opacity: 1;
		}

		/* IE 10+ */
		.sbox input:-ms-input-placeholder {
				font-size: 12px;
		}

		/* Firefox 18- */
		.sbox input:-moz-placeholder {
				opacity: 1;
				font-size: 12px;
		}
		
		.navbar {
				width: 100%;
				height: 15%;
				padding-top: 10px;
				margin-bottom: 20px;
				border-radius: 0 0 45% 45%;
				border-bottom-color: rgb(110, 125, 140);
				border-bottom-style: solid;
				border-bottom-width: 2px;
				text-align: center;
		}

		.navbar img {
				max-width: 20%;
				max-height: auto;
		}

		
}


/* Adjust Width Appropriately for Mobile Landscape View */

@media only screen and (max-width: 768px) and (orientation: landscape) {
		.box {
			width: 60%;
			padding: 5px 0px 0px 0px;
			border: none;
		}
		
		img.Rheem {
			max-width: 25%;
			max-height: auto;
		}
		
		img.navLogo {
			width: 50px;
			height: auto;
		}
		
		.column {
			width: 100%;
		}
}